img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid orangered;
    display: block;
    margin:auto;
}
body{
    background-image: url('fish.png');
    background-size: 500px;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    font-family: 'Poiret One', cursive;
    font-size: 60px;
    text-shadow: 5px 5px 5px lightblue;
}

.bigcard{
    background-color: white;
    display:block;
    margin:auto;
    width: 50%;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
}

.card a{
    background-color: orangered;
    color:white;
    display:block;
    margin:auto;
    width:50%;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
    text-decoration: none;
    

}